$fontColor: #3d4251;
$fontColor2: #686f75;
$fontColor3: #a5a5a5;

$blue: #33aacc;
$blueDark: #2388b0;
$blueDark2: #195b73;
$blueLight: #7ecce2;
$blueLight2: #ebf4f7;
$green: #01ab49;
$orangeDark: #f2a539;
$orange: #ffdfba;
$link: #33aacc;
$linkhover: #33aacc;

$rep: $orangeDark;
$accepted: $green;

$base-color: $fontColor;
$background-color: #f0f4f5;

$border-color-1: #e4e6e8;
$border-color-2: #eff0f1;

/* Menu Colors */
$pink: #ffbfda;
$pinkDark: #de156b;
$purpleDark: #6f1eb8;
$purple: #dcb5ff;
$lavenderDark: #4545b8;
$lavender: #b5b5ff;
$tealDark: #0bb68b;
$teal: #2cc09a;
