$font-family: "Open Sans", -system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
$font-size: 16px !default;

$color-1: #242436;
$color-2: #1a1a2c;
$color-3: #9d9dc0;

$weight-1: 600;

$padding-container: 5vw;
$padding-container-l: 50px;
$padding-container-m: 50px;
$padding-container-s: 30px;
$padding-container-xs: 25px;
$padding-container-xxs: 15px;

$hr-color: rgba(0, 0, 0, 0.08);
$hr-width: 1px;
