@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  &-wrap {
    display: inline-flex;
    align-items: center;
  }
}
